// Colors
$color-primary-dark: #224466;
$color-primary-light: #60c2c4;
$color-primary: #4085a3;
$color-primary-2: #54a9b2;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-grey-light-3: #f2f2f4;
$color-grey-light-4: #eaeaea;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-black-1: #2c2c2c;
